body {
  background-color: #24353f;
}

h1 {
  color: #179fb5;
}

p {
  color: white;
}

.box {
  box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}

input {
  background-color: transparent !important;
}

input::placeholder {
  color: #b6b6b6 !important;
}

button {
  color: #179fb5;
  border: #179fb5 solid 1px;
  background-color: transparent;
}
